-# get the raw string with milliseconds from created_at to avoid comparison errors
.posts{data: {'last-post' => @posts.last.attributes_before_type_cast["created_at"]}}
  - @posts.each do |post|
    .image-box.hide
      .user-info-wrapper
        .user
          - if post.user
            .user-info
              .left-side
                .user-picture
                  = image_tag("http://graph.facebook.com/#{post.user.uid}/picture?type=square", alt: "profile image")
              .right-side
                .user-name
                  = post.user.first_name + ' ' + post.user.last_name
                .post-text
                  = post.text.truncate(15)
      .image-wrapper
        = image_tag(post.image_url, class: "post-image")
        .likes
          %span.stat-number
            = post.likes.count
          %span.stat-description
            Likes
        .comments
          %span.stat-number
            = post.comments.count
          %span.stat-description
            Comments
